{% extends 'base.html' %}

{% block content%}
    {% load static %}
    <section class="section-mypage">
        <h2>MY PAGE</h2>
        <div class="head-box">
            <img src="{% static 'img/mypage/pium_mypage.png' %}" alt="">
            <p class="user_name">
                {{ data.userName }} 님, 환영합니다.
            </p>
            <a href="https://pin.it/crspmrsog" class="pinterest-black">핀터레스트 보드 ></a>
        </div>
        <h3>예약 현황</h3>
        <div>
            
        </div>
    </section>
    <section class="section-mypage">
        <h3>
            메이크업 제품 목록
        </h3>
        <ul>
            <li>
                <a href=""> 문구</a>
            </li>
            
        </ul>
    </section>
{% endblock %}