{% extends 'base.html' %}

{% block content%}
    <main>
        <section class="middle-section">
            <div class="faq-container community">
            <h2>1 대 1 문의</h2>
                <div class="btnBox-header">
                    <a class="btn-community" href="{% url 'askForm' %}">
                        1:1 문의 하기
                    </a>
                </div>
                <table class="community-table">
                    <thead>
                        <tr>
                            <td>상담유형</td>
                            <td>제목</td>
                            <td>작성일</td>
                            <td>답변여부</td>
                        </tr>
                    </thead>
                    <tbody id="community_body">
                        {% for ask in askList %}
                            {% if ask.respond_content != "" %}
                                <tr class="question cursor-pointer">
                                    <td>{{ ask.askLabel }}</td>
                                    <td>{{ ask.title }}</td>
                                    <td>{{ ask.reg_date }}</td>
                                    <td>O</td>
                                </tr>
                                <tr class="answer" style="display: none">
                                    <td colspan="4">
                                        {{ ask.respond_content }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="question">
                                    <td>{{ ask.askLabel }}</td>
                                    <td>{{ ask.title }}</td>
                                    <td>{{ ask.reg_date }}</td>
                                    <td>X</td>
                                </tr>
                             {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock %}

{% block extra-script %}
    <script>
        $(function() {
            $(".question").click(function() {
                $(this).next(".answer").stop().slideToggle(300);
                $(this).toggleClass('on').siblings().removeClass('on');
                $(this).next(".answer").siblings(".answer").slideUp(300);
            });

        });

    </script>
{% endblock extra-script %}