{% extends 'base.html' %}

{% block content%}
    <main>
        <section class="middle-section">
            <div class="faq-container community">
            <h2>1 대 1 문의</h2>
                <div class="btnBox-header">
                    <button class="btn-community">
                        1:1문의하기
                    </button>
                </div>
                <table class="community-table">
                    <thead>
                        <tr>
                            <td>상담유형</td>
                            <td>제목</td>
                            <td>작성일</td>
                            <td>답변여부</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>결제/예약/상담</td>
                            <td>제목</td>
                            <td>23.10.29</td>
                            <td>O</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock %}

{% block extra-script %}
    <script>
    </script>
{% endblock extra-script %}