{% extends 'base.html' %}

{% block content%}
    <main>
    <section class="middle-section">
        <div class="faq-container">
            <h2>FAQ</h2>
                <ul class="faq-table">
                    <li>
                        <div class="question">
                            회원 탈퇴가 진행되지 않아요
                        </div>
                        <div class="answer">
                            이미 전에 가입한 적이 있으신지 확인 부탁드립니다. 간편가입의 경우 별도의 정보 입력 없이 바로 가입이 되기 때문에 잊으시는 고객님들이 종종 계십니다.
                            <br>번거로우시겠지만 아이디 찾기를 이용하셔서 가입 내역을 확인 바랍니다.
                            <br>위 절차를 통하여 확인이 불가능할 경우 카카오톡 채널 - 컬러블로썸(color blossom)으로 문의해 주시기 바랍니다.
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            회원 탈퇴가 진행되지 않아요
                        </div>
                        <div class="answer">
                            이미 전에 가입한 적이 있으신지 확인 부탁드립니다. 간편가입의 경우 별도의 정보 입력 없이 바로 가입이 되기 때문에 잊으시는 고객님들이 종종 계십니다.
                            <br>번거로우시겠지만 아이디 찾기를 이용하셔서 가입 내역을 확인 바랍니다.
                            <br>위 절차를 통하여 확인이 불가능할 경우 카카오톡 채널 - 컬러블로썸(color blossom)으로 문의해 주시기 바랍니다.
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            회원 탈퇴가 진행되지 않아요
                        </div>
                        <div class="answer">
                            이미 전에 가입한 적이 있으신지 확인 부탁드립니다. 간편가입의 경우 별도의 정보 입력 없이 바로 가입이 되기 때문에 잊으시는 고객님들이 종종 계십니다.
                            <br>번거로우시겠지만 아이디 찾기를 이용하셔서 가입 내역을 확인 바랍니다.
                            <br>위 절차를 통하여 확인이 불가능할 경우 카카오톡 채널 - 컬러블로썸(color blossom)으로 문의해 주시기 바랍니다.
                        </div>
                    </li>
                    <li>
                        <div class="question">
                            회원 탈퇴가 진행되지 않아요
                        </div>
                        <div class="answer">
                            이미 전에 가입한 적이 있으신지 확인 부탁드립니다. 간편가입의 경우 별도의 정보 입력 없이 바로 가입이 되기 때문에 잊으시는 고객님들이 종종 계십니다.
                            <br>번거로우시겠지만 아이디 찾기를 이용하셔서 가입 내역을 확인 바랍니다.
                            <br>위 절차를 통하여 확인이 불가능할 경우 카카오톡 채널 - 컬러블로썸(color blossom)으로 문의해 주시기 바랍니다.
                        </div>
                    </li>
                    
                </ul>
            </div>
        </section>
    </main>
{% endblock %}

{% block extra-script %}
    <script>
        $(function() {
            $(".question").click(function() {
                $(this).next(".answer").stop().slideToggle(300);
                $(this).toggleClass('on').siblings().removeClass('on');
                $(this).next(".answer").siblings(".answer").slideUp(300);
            });
        });
    </script>
{% endblock extra-script %}