{% extends 'base.html' %}

{% block content%}
    <main>
        <section class="middle-section">
            <h2>FAQ</h2>
            <div class="faq-cotainer">
                <ul>
                    <li>
                        <div class="question">
                            
                        </div>
                        <div class="answer">
                            
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
{% endblock %}

{% block extra-script %}
    <script>
    </script>
{% endblock extra-script %}