{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>colorblossom</title>
  </head>

  <body>
    {% include 'header.html' %}    
    <div class="container">
      <main>
        {% bootstrap_messages %}
        {% block content%}{% endblock %}
      </main>
    </div>
    {% include 'footer.html' %}
    <script>
      window.csrf_token = "{{ csrf_token }}";
    </script>
    <script src="{% static "js/ation_css.js" %}"></script>

    {% block extra-script %}{% endblock extra-script %}    
  </body>

</html>